/** @format */

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: "Barlow", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.id-header {
  font-family: serif;
  text-align: center;
  color: #FDE047;
}
.name {
  font-family: arial;
  font-size: 15px;
}

 .schoold-id, .program {
  font-family: arial;
  font-size: 14.4px;
}

.id-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#birthDate, #case-emergency, #important, #content, #personnel-back-card {
  font-family: arial bold;
}
.custom-bg {
  background-image: url("../src/assets/id-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: center calc(100%);
  position: relative;
}

.custom-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.text-content {
  position: relative;
  text-align: center;
  z-index: 2;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #2c5282;
}

.pagination li {
  display: inline-block;
  margin: 10px 5px;
  cursor: pointer;
}

.pagination li a {
  font-size: 18px;
  padding: 5px 10px;

  text-decoration: none;
  color: white;
  border-radius: 3px;
}

.pagination li.active a {
  font-weight: bold;
  background: #ffd700;
  color: #2c5282;
}

.pagination li a:hover {
  background: #ffd700;
  color: #2c5282;
}

.custom-file-upload {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  font-family: sans-serif;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.custom-file-upload:hover {
  background-color: #2d7afe;
}

#actual-btn {
  display: none;
}
#signature-upload {
  display: none;
}
#image-upload {
  display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.signature {
  position: relative;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  font-family: arial bold;

  width: 70%;
}

.signature::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: black; /* Color of the underline */
}
.signature-registrar {
  position: relative;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  font-family: arial bold;

  width: 70%;
}
.signature-registrar::before {
  content: "";
  position: absolute;
  /* Adjust this value to position the underline */
  left: 0;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: black; /* Color of the underline */
}

@media print {
  @page {
    margin: 20mm; /* Adjust the top, bottom, left, and right margins */
  }
}
